
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <style type="text/css">
        header {
            background: #4682B4;
            text-align: center;
            line-height: 25px;
            font-family: Verdana, Helvetica, Arial, sans-serif;
            color: #000000;
        }
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        div {
            padding: 30px 0
        }

        form {
            position: relative;
            width: 500px;
            margin: 0 auto;
        }

        .d1 {
            background: #A3D0C3;
        }

            .d1 input {
                width: 90%;
                height: 42px;
                padding-left: 10px;
                border: 2px solid #7BA7AB;
                border-radius: 5px;
                outline: none;
                background: #F9F0DA;
                color: #9E9C9C;
            }

            .d1 button {
                position: absolute;
                top: 0;
                right: 0px;
                width: 42px;
                height: 42px;
                border: none;
                background: #7BA7AB;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
            }

                .d1 button:before {
                    content: "\f002";
                    font-family: FontAwesome;
                    font-size: 16px;
                    color: #F9F0DA;
                }

        .books {
            
        }

        .body {
            text-align: center;
            line-height: 1px;
            color: black;
        }

        .all {
            background: #D3D3D3;
        }
       
        A {
            color: black; /* Цвет ссылок */
        }

            A:visited {
                color: black; /* Цвет посещенных ссылок */
            }

            A:active {
                color: #ffff;
            }
        a {
            text-decoration: none; /* Отменяем подчеркивание у ссылки */
        }   
        p{

        }

        .tabl {
       
            border-radius: 9px;
            margin: auto;
            text-align: center;
        }

        th {
            padding: 8px;
            background: #008080;
            box-shadow: inset 0 0 0 1px
        }
        th.tcenter {
            border-radius: 15px;
        }
    
    </style>
</head>
<body>
    <div class="all">
        <header>
            <a href="/"><h1> DOREAD</h1></a>
            <h4 align="center">Электронная библиотека книг</h4>




            <div class="body">
                @foreach (var r in Model.Genres)
                {
                    <a href="/MainPage/Show/@r.Path">@r.Title</a>
                }
            </div>
        </header>
        <hr color="red">
        <div class="d1">
            @*<p> <a href="">#ТЕГ</a> <a href="">#ТЕГ</a> <a href="">#ТЕГ</a> <a href="">#ТЕГ</a> <a href="">#ТЕГ</a><a href="">#ТЕГ</a> <a href="">#ТЕГ</a><a href="">#ТЕГ</a> <a href="">#ТЕГ</a></p>*@
            <table class="tabl" border="0" cellpadding="1" cellspacing="10">

                <tr bgcolor="##A3D0C3" class="tabl" аоао>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>

                </tr>
            </table>

            <form>
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
            <table class="tabl" border="0" cellpadding="1" cellspacing="10">

                <tr bgcolor="##A3D0C3" class="tabl" аоао>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>
                    <th class="tcenter">ТЕГ</th>

                </tr>
            </table>
        </div>
        

        <div class="books">
            @foreach (var a in Model.Books)
            {
                <a href="/Book/Show/@a.Id"><h2>@a.Title</h2></a>
                <p>@a.Date.ToString("dd.MM.yyyy")</p>
                <img width="192" height="128" src="~/Images/@(a.Id).jpg" />
                <p>@a.Price</p>
            }

        </div>
    </div>
</body>
</html>
